.name{
  display:flex;
  font-family: "MarzoW00-Regular", fantasy;
  letter-spacing: .08em;
  font-size: 7vw;
  color: whitesmoke;
  padding-left: 40px;
}


.image {
  height: 35vw;
  width: 35vw;
  font-size: 25px;
  background: whitesmoke;
  margin: 1vw;
  display: inline-block;
  line-height: 10vw; 
}


@media screen and (max-width: 320px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  .image {
    height: 35vw;
    width: 35vw;
    font-size: 25px;
    background: whitesmoke;
    margin: 1vw;
    display: inline-block;
    line-height: 10vw; 
  }
 
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  .image {
    height: 90vw;
    width: 70vw;
    font-size: 25px;
    background: whitesmoke;
    margin: 1vw;
    display: inline-block;
    line-height: 10vw;
    margin-top: 25px; 
  }

}

@media screen and (min-width: 481px) and (max-width: 780px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  .image {
    height: 90vw;
    width: 70vw;
    font-size: 25px;
    background: whitesmoke;
    margin: 1vw;
    display: inline-block;
    line-height: 10vw;
    margin-top: 25px; 
  }

}
/* @media screen and (min-width: 481px) {
 
  .image {
    height: 90vw;
    width: 35vw;
    font-size: 25px;
    background: whitesmoke;
    margin: 1vw;
    display: inline-block;
    line-height: 10vw; 
    margin-top: 25px;
  }
 
} */



.main {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon::before {
  display: none;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.nextArrow{
  font-family: "Font Awesome 5 Free";
        font-weight: 400;
        content: "\f1ea";

}






.image-container {
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 88%;
  padding-bottom: 25px;
}

.prev, .next {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  cursor: pointer;
  color: black;
  transition: 0.6s ease;
}

.next {
  margin-left: 10px;
}

.prev {
  margin-right: 10px;
}

.prev:hover, .next:hover {
  color: white;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}





@font-face {font-family: "MarzoW00-Regular";
  src: url("//db.onlinewebfonts.com/t/1e6ec96c95301fa73aa1d026f161a269.eot");
  src: url("//db.onlinewebfonts.com/t/1e6ec96c95301fa73aa1d026f161a269.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/1e6ec96c95301fa73aa1d026f161a269.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/1e6ec96c95301fa73aa1d026f161a269.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/1e6ec96c95301fa73aa1d026f161a269.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/1e6ec96c95301fa73aa1d026f161a269.svg#MarzoW00-Regular") format("svg");
}

.scroll-wrap{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  
}

.scroll-wrap-flexbox{
  display: block;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card2{
  /* display: inline-block; */
  display: inline-block;
  padding-left: 10px;
  width: 350px;
}

card3{
  flex: 0 0 auto;
  padding-left: 10px;
}

.parallaxContainer{
  width:100%;
  max-width: 100%;
  margin: 0 auto;
  background: white;
  font-size: 24px;
  padding-bottom: 75px;
}

.parallax{
  background: url("./images/female-portrait-2310553_1920.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height:485px;
  padding-top:100px;
}



.Site{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 50px;
}

.Site-content{
  flex: 1 0 auto;
}


.App {
  text-align: left;
  padding: 1em;
  margin: 1em;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
